body{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10rem;
}

.container{
     background-color:aliceblue;
     padding:2rem;
     border-radius: 1rem;
     align-items: center;
     display: flex;
     flex-direction: column;

}

input{
    border: none;
    padding:0.8rem 2rem;
    margin: 1rem 0;
    background-color:yellow;
}


button{
    border-radius: 10px;
    font-size:1rem;
    padding: 0.7rem;
    background-color: blanchedalmond;
}


